{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link href="{% static 'css/material_fonts.css' %}" rel="stylesheet">
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{% static 'css/all.css' %}"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
          <link href="{% static 'css/vuetify.min.css' %}" rel="stylesheet">
    
</head>
<body>

    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-btn color="success" @click="$router.push('/foo');">Перейти к Foo</v-btn>
                    <v-btn color="success" @click="$router.push('/bar');">Перейти к Bar</v-btn>
                    <hr>
                    <router-view></router-view>

                </v-container>
                
            </v-content>
        </v-app>

            <!-- используем компонент router-link для навигации -->
            <!-- входной параметр `to` определяет URL для перехода -->
            <!-- `<router-link>` по умолчанию отображается тегом `<a>` -->
            <!--        <router-link to="/foo">Перейти к Foo</router-link>-->
            <!--        <router-link to="/bar">Перейти к Bar</router-link>-->
            
        <!-- отображаем тут компонент, для которого совпадает маршрут -->
       

    </div>

</body>
<!-- Start - Подключение скриптов (библиотека VueTify и Script) --->
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vuetify.js' %}"></script>
<script src="{% static 'js/vuex.js' %}"></script>
<script src="{% static 'js/vue-router.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


{% if user.is_authenticated %}
<script>
// <!--      store.commit("set_manage", true);-->



</script>
{% endif %}

</html>
